################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ProgammedBot/ProgammedBot/local.settings.json
